<div class="grid-x">
  <div class="cell small-1">
    {% if widget.attrs.geom_type == 'poly' %}
      <i class ="icon ion-stop icon--small" style="color: {{widget.attrs.color}};"></i>
    {% elif widget.attrs.geom_type == 'point' %}
      <i class ="icon ion-record icon--small" style="color: {{widget.attrs.color}};"></i>
    {% elif widget.attrs.geom_type == 'line' %}
      <i class ="icon ion-minus icon--small" style="color: {{widget.attrs.color}};"></i>
    {% else %}
      <i class ="icon ion-stop icon--small" style="color: {{widget.attrs.color}};"></i>
    {% endif %}
  </div>
  <div class="cell small-9">
    {{widget.attrs.label}}
  </div>
  <div class="cell small-1">
    <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
  </div>
  <div class="cell small-1">
    <div class="switch tiny">
      <input class="switch-input-layer-select" id="{{widget.attrs.id}}" type="checkbox" name="{{widget.attrs.name}}" {% if widget.attrs.checked %}checked{% endif %}>
      <label class="switch-paddle" for="{{widget.attrs.id}}">
      </label>
    </div>
  </div>
</div>
