<div class="cell small-10">
  <p>{{widget.attrs.title}}</p>
</div>
<div class="cell small-1">
  <i class ="icon ion-information-circled icon--small" title="{{widget.attrs.text}}" data-tooltip data-position="right" data-alignment="center"></i>
</div>
<div class="cell small-1">
  <div class="switch tiny">
    <input class="switch-input" id="{{widget.attrs.id}}" type="checkbox" name="{{widget.attrs.name}}" {% if widget.attrs.checked %}checked{% endif %}>
    <label class="switch-paddle" for="{{widget.attrs.id}}">
    </label>
  </div>
</div>