{% csrf_token %}
<ul class="accordion" data-accordion>
  {% for group, data in comp_groups.items %}

    <li class="accordion-item {% if data.title == 'Stromerzeugung' %}accordion-item--no-border is-active{% endif %}" data-accordion-item>
      <a href="#" class="accordion-title accordion-title--100">{{ data.title }}</a>

      {% if data.comps.fields|length > 0 %}
          {% for comp in data.comps %}
            {{ comp }}
          {% endfor %}
      {% else %}
         <div class="accordion-content" data-tab-content>
         </div>
      {% endif %}

    </li>
  {% endfor %}
</ul>
