<form>
  {% csrf_token %}
  {% for group, data in area_groups.items %}
    <fieldset>
      <legend>
        <small style="color: #000; border-bottom: 1px solid #000;">{{ data.title }}</small>
        <i class ="icon ion-help-circled icon--small" title="{{data.text}}" data-tooltip data-position="right" data-alignment="center"></i>
      </legend>
      <div class="grid-x">
        {% for comp in data.comps %}
          {{ comp }}
        {% endfor %}
      </div>

    </fieldset>
  {% endfor %}
</form>
<br>
<p>In Kürze folgen weitere Parameter...</p>