<!doctype html>

{% load static %}

<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StEmp-Tool Anhalt</title>
    {% block header %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'stemp_abw/img/ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'stemp_abw/foundation/css/app.css' %}">
  </head>

  <body>
    <div class="u-vh--100">
      {% include 'stemp_abw/navigation.html' %}
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'stemp_abw/foundation/js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>