{% load static %}

<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stemp Tool Anhalt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stemp_abw/img/ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'stemp_abw/foundation/css/app.css' %}">
  </head>
  <body>

    <div class="l-bg-color u-vh--100">
    
        <!-- TOP NAVIGATION START -->
          
        <!-- MAIN NAVIGATION START -->
            
        <nav>
          <div class="title-bar" id="nav-container" data-responsive-toggle="simple-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
          </div>
          
          <div class="top-bar" id="simple-menu">
            <div class="top-bar-left show-for-large">
              <ul class="menu">
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" id="nav-list-vertical" data-dropdown-menu>
                <!-- <li class="menu-text">Startseite</li> -->
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:map' %}">Zum Tool</a></li>
                <li>
                  <a class="anchor-text--light" href="#">Über uns</a>
                  <ul class="menu vertical">
                    <li><a class="anchor-text--light" href="#">Kontakt</a></li>
                    <li><a class="anchor-text--light" href="#">Impressum</a></li>
                    <li><a class="anchor-text--light" href="#">Datenschutz</a></li>
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:sources' %}">Quellen</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
            
        <!-- MAIN NAVIGATION END -->      
        <!-- TOP NAVIGATION END -->
          
        <!-- HERO SECTION START -->
        <main class="grid-container hp__wrapper">
          <div class="grid-x">
      
            <div class="cell u-text--center">
              <h1 class="hp__header">Stakeholder Empowerment Tool</h1>
            </div>
            <div class="cell u-text--center hp-subheader">
              <h2 class="hp__subheader">Flächennutzung für Regionalen Energiebalancekreis</h2>
            </div>
            <div class="cell u-text--center hp__btn">
              <a href="{% url 'stemp_abw:map' %}" class="btn btn-cta">
                Zum Tool
                <i class ="icon ion-chevron-right icon--small"></i>
              </a>
            </div>
      
          </div>
        </main>
        <!-- HERO SECTION END -->
      
        
      <footer class="footer-hp l-bg-color--w">
        <div class="grid-x">
    
          <div class="cell footer-hp__logo">
            <ul>
              <li>
                <a href="https://www.energieavantgarde.de/" target="_blank" rel="noopener" title="Energieavantgarde Anhalt">
                  <img class="footer-hp__logo-eaa" src="{% static 'stemp_abw/img/EAA_logo.png' %}" alt="Logo Energieavantgarde Anhalt">
                </a>
              </li>
              <li>
                <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noopener" title="Reiner Lemoine Institut">
                  <img class="footer-hp__logo-rli" src="{% static 'stemp_abw/img/rli_logo.png' %}" alt="Logo Reiner Lemoine Institut">
                </a>
              </li>
              <li>
                <a href="https://www.energieavantgarde.de/" target="_blank" rel="noopener" title="Kopernikus Projekte">
                  <img class="footer-hp__logo-kopernikus" src="{% static 'stemp_abw/img/kopernikus_logo.png' %}" alt="Logo Kopernikus Projekte">
                </a>
              </li>
              <li>
                <a href="https://www.bmbf.de/" target="_blank" rel="noopener" title="Bundesministerium für Bildung und Forschung">
                  <img class="footer-hp__logo-bmbf" src="{% static 'stemp_abw/img/BMBF_widget_final.png' %}" alt="Logo BMBF">
                </a>
              </li>
            </ul>
          </div>
    
          <div class="cell medium-10 medium-offset-1">
            <ul class="u-text--center" id="footer-links">
              <li><a class="anchor-text--dark" href="#">Kontakt</a></li>
              <li><a class="anchor-text--dark" href="#">Impressum</a></li>
              <li><a class="anchor-text--dark" href="#">Datenschutz</a></li>
              <li><a class="anchor-text--dark" href="#">Lizenz</a></li>
              <li class="hide-for-small-only">
                <p class="u-no-margin">&copy; Reiner Lemoine Institut gGmbH</p>
              </li>
            </ul>
          </div>
    
        </div>
      </footer>
      
    </div>
      
      

    <script src="{% static 'stemp_abw/foundation/js/app.js' %}"></script>
  </body>
</html>