{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stemp Tool Anhalt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stemp_abw/img/ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'stemp_abw/foundation/css/app.css' %}">

    {% leaflet_css %}
    {% leaflet_js %}

  </head>
  <body>

    <div class="l-bg-color-w u-vh--100">

        <!-- TOP NAVIGATION START -->
        <!-- MAIN NAVIGATION START -->

        <nav>
          <div class="title-bar" id="nav-container" data-responsive-toggle="simple-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title"></div>
          </div>

          <div class="top-bar" id="simple-menu">
            <div class="top-bar-left show-for-large">
              <ul class="menu">
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" id="nav-list-vertical" data-dropdown-menu>
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}" style="font-weight: 300; padding-right: 1.5rem">Datenschutz</a></li>
                <li>
                  <a class="anchor-text--light" href="#">Menu</a>
                  <ul class="menu vertical">
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
                    <li><a class="anchor-text--light" href="#">Kontakt</a></li>
                    <li><a class="anchor-text--light" href="#">Impressum</a></li>
                    <li><a class="anchor-text--light" href="#">Datenschutz</a></li>
                    <li><a class="anchor-text--light" href="#">Quellen</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- MAIN NAVIGATION END -->    <!-- TOP NAVIGATION END -->

        <div class="off-canvas-wrapper off-canvas-wrapper--left">

          <!-- OFF CANVAS START -->
          <aside class="off-canvas position-left" id="offCanvas" data-off-canvas data-close-on-click="false" data-content-overlay="false" data-transition="overlap">

            <div class="grid-y medium-grid-frame">
              <div class="cell medium-auto medium-cell-block-container">
                <div class="grid-x">
                  <nav class="cell offcanvas-tabs__wrapper medium-cell-block-y">
                    <ul class="vertical tabs" data-tabs id="offcanvas-tabs">
                      <li class="tabs-title is-active">
                        <a href="#panel-scenarios" aria-selected="true">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Scenario_w.svg' %}" id="tabs-icon--scenarios">
                          <h2 class="tabs-title__head">Szenario</h2>
                        </a>
                      </li>
                      <li class="tabs-title">
                        <a href="#panel-energy">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Energy_w.svg' %}" id="tabs-icon--energy">
                          <h2 class="tabs-title__head tabs-title__head--long">Energie-<br>system</h2>
                        </a>
                      </li>
                      <li class="tabs-title">
                        <a href="#panel-areas">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Layers_w.svg' %}" id="tabs-icon--areas">
                          <h2 class="tabs-title__head">Flächen</h2>
                        </a>
                      </li>
                      <li class="tabs-title" id="tabsResults">
                        <a href="#panel-results">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Results_w.svg' %}" id="tabs-icon--results">
                          <h2 class="tabs-title__head">Ergebnisse</h2>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <section class="cell medium-cell-block-y tabs-content__wrapper" id="offCanvasContent">
                    <div class="tabs-content" data-tabs-content="offcanvas-tabs" id="offcanvasTabs">

                        <!-- First panel content -->
                        <div class="tabs-panel is-active" id="panel-scenarios">
                          <form>
                            <fieldset>
                              <legend>Szenario auswählen 
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </legend>
                              <div>
                                <input type="radio" name="scenario" value="statusQuo" id="scenarioStatusQuo" required checked>
                                <label for="scenarioStatusQuo">Status Quo</label>
                              </div>
                              <div>
                                <input type="radio" name="scenario" value="germany" id="scenarioGermany">
                                <label for="scenarioGermany">Deutsches Klimaschutzziel</label>
                              </div>
                              <div>
                                <input type="radio" name="scenario" value="100" id="scenario100">
                                <label for="scenario100">100% EE in der Region</label>
                              </div>
                            </fieldset>
                          </form>
                        <div class="panel-desc panel-desc--highlighted">
                            <p id="scenarioPanelText">
                            <span class="panel-desc__header">Status Quo</span>
                            <span class="panel-desc__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
                            </p>
                          </div>
                        </div>

                        <!-- Second panel content -->
                        <div class="tabs-panel" id="panel-energy">
                          <ul class="accordion" data-accordion>
                            <li class="accordion-item accordion-item--no-border is-active" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Stromerzeugung</a>
                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Kapazität Windkraftanlagen [W/M]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="capacityWindPower" value="" />
                              </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Wärmeerzeugung</a>
                              <div class="accordion-content" data-tab-content>
                              </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Strombedarf</a>
                              <div class="accordion-content" data-tab-content>
                              </div>
                            </li>
                          </ul>
                        </div>

                        <!-- Third panel content -->
                        <div class="tabs-panel" id="panel-areas">
                          <p>Anzuzeigende Layer auswählen</p>

                          <form>
                            <div class="grid-x">
                              <div class="cell small-11">
                                Alle Ebenen anzeigen
                              </div>
                              <div class="cell small-1">
                                <div class="switch tiny master">
                                  <input class="switch-input-layer-select" id="cb_all_layers" type="checkbox" name="all_layers" checked>
                                  <label class="switch-paddle" for="cb_all_layers">
                                  </label>
                                </div>
                              </div>
                            </div>
                          </form>

                          <form>
                            <fieldset>
                              <legend>
                                <small>Group 1</small>
                              </legend>
                              {% csrf_token %}
                              {% for layer in layer_select_form %}
                                {{layer}}
                              {% endfor %}
                            </fieldset>
                          </form>

                        </div>

                        <!-- Fourth panel content -->
                        <div class="tabs-panel" id="panel-results">
                        <div class="grid-x">
                          <div class="cell u-text--center">
                            <button href="map.html" class="btn btn-cta" id="btnExpand">
                              Mehr Ergebnisse
                              <i class ="icon ion-android-add icon--small"></i>
                            </button>
                        </div>
                      </div>

                  </div>

                    </div>
                  </section>
                </div>
              </div>
            </div>

            <button class="close-button" aria-label="Close menu" type="button" data-close id="btnCloseOffcanvas">
              <span aria-hidden="true">&times;</span>
            </button>

          </aside>
          <!-- OFF CANVAS END -->

          <!-- CONTENT (MAP + FOOTER) START -->
          <main class="off-canvas-content" data-off-canvas-content>
            <div class="map-wrapper">

              <button type="button" class="button open-offcanvas" data-toggle="offCanvas" title="Parameter" id="openOffCanvas">
                <i class="icon ion-android-options"></i>
              </button>

              <!-- MAP -->
              <!--<div id="mapid">-->
                {% leaflet_map "mapid" callback="window.main_map_init" %}
              <!--</div>-->

            </div>
          </main>
          <!-- CONTENT (MAP + FOOTER) END -->

        </div>

        <footer class="map-footer">
          <div class="grid-x">
    
            <div class="cell u-text--center" id="footer--hide">
              <div>
                <i class="icon ion-chevron-down" id="footer--hide__icon"></i>
              </div>
            </div>
    
            <div class="cell" id="footer-logos">
              <ul class="map-footer__logo">
                <li>
                  <a href="https://www.energieavantgarde.de/" target="_blank" title="Energieavantgarde Anhalt">
                    <img class="map-footer__logo-eaa" src="{% static 'stemp_abw/img/EAA_logo.png' %}" alt="Logo Energieavantgarde Anhalt">
                  </a>
                </li>
                <li>
                  <a href="https://reiner-lemoine-institut.de/" target="_blank" title="Reiner Lemoine Institut">
                    <img class="map-footer__logo-rli" src="{% static 'stemp_abw/img/rli_logo.png' %}" alt="Logo Reiner Lemoine Institut">
                  </a>
                </li>
                <li>
                  <a href="https://www.kopernikus-projekte.de/" target="_blank" title="Kopernikus Projekte">
                    <img class="map-footer__logo-kopernikus" src="{% static 'stemp_abw/img/kopernikus_logo.png' %}" alt="Logo Kopernikus">
                  </a>
                </li>
                <li>
                  <a href="https://www.bmbf.de/" target="_blank" title="Bundesministerium für Bildung und Forschung">
                    <img class="map-footer__logo-bmbf" src="{% static 'stemp_abw/img/BMBF_widget_final.png' %}" alt="Logo BMBF">
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </footer>

      </div>

    <script src="{% static 'stemp_abw/foundation/js/app.js' %}"></script>
    <script type="text/javascript">

        function main_map_init (map, options) {

            // Parse layer style JSON
            var style_data = JSON.parse('{{ layer_style | escapejs }}');

            // popup style
            var customPopup =
                {
                'maxWidth': '500',
                'className' : 'custom_popup'
                }

            // feature: click style
            function setClickFeatureStyle(e) {
                var style = getLayerStyle("_click");
                var layer = e.target;
                layer.setStyle(style);
            }

            // feature: mousover style
            function setHighlightFeatureStyle(e) {
                var style = getLayerStyle("_highlight");
                var layer = e.target;
                layer.setStyle(style);
            }

            // feature: normal style
            function setNormalFeatureStyle(layerName) {
              return function _(e) {
                var style = getLayerStyle(layerName);
                var layer = e.target;
                layer.setStyle(style);
            };
            }

            // bind popups for each feature and define event actions
            function onEachFeature(layerName) {
            return function(feature, layer) {
                if (feature.properties && feature.properties.popup_content) {
                    layer.bindPopup(feature.properties.popup_content, customPopup);
                    };
                    layer.on({
                        click: setClickFeatureStyle,
                        mouseover: setHighlightFeatureStyle,
                        mouseout: setNormalFeatureStyle(layerName)
                    });
            };
            }

            function pointToLayer(feature, latlng) {
                var marker = L.circleMarker(latlng)
                //marker.bindPopup('<p>' + feature.properties.popup_content + ' XXX ' + '</p>');
                return marker;
            }

            // Create layer style from style_data json obj
            // if it does not exist, use default
            function getLayerStyle (name) {
                if (style_data.hasOwnProperty(name)) {
                    return style_data[name].style;
                } else {
                    return style_data._default.style;
                }

            }

            var layers = {};

            // Load GeoJsons via Ajax and add layers to map
            {% for layer in layer_list %}
                // Build data URL
                var dataurl = "{% url 'stemp_abw:'|add:layer|add:'.data' %}"

                // Load data via Ajax
                $.getJSON(dataurl, function (data) {
                    // Add GeoJSON layer
                    var layer = new L.geoJson(data, {style: getLayerStyle("{{ layer }}"),
                                                     onEachFeature: onEachFeature("{{ layer }}"),
                                                     pointToLayer: pointToLayer
                                                     }
                                             );
                    layers["{{ layer }}"] = layer;
                    map.addLayer(layer);
                });
            {% endfor %}

            // Move zoom control
            map.removeControl(map.zoomControl);
            L.control.zoom({
		        position: 'bottomright'
	        }).addTo(map);

            // Control layer
            $(document).foundation();

            // Control layer visibility via checkboxes
            $( '.switch-input-layer-select' ).click( function () {
              var id = $(this).attr('id');

              // Master switch for all layers
              if (id == "cb_all_layers") {
                for (var l in layers) {
                  if (layers.hasOwnProperty(l)) {
                    if (this.checked) map.addLayer(layers[l]);
                    else map.removeLayer(layers[l]);
                  }
                $( '.switch-input-layer-select' ).prop('checked', this.checked);
                }
              }

              // Individual layers switches
              else {
                l = layers[id.replace('cb_','')];
                if (this.checked) map.addLayer(l);
                else map.removeLayer(l);
              };
            })


        }

    </script>
  </body>
</html>