{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stemp Tool Anhalt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stemp_abw/img/ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'stemp_abw/foundation/css/app.css' %}">
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>

    {% leaflet_css %}
    {% leaflet_js %}

  </head>
  <body>

    <!-- START LOADER -->
    <!-- Is displayed only when a layer is loading -->
    <div class="grid-x loader-wrapper loader-wrapper--hide">
      <div class="cell">
        <div class="loader"></div>
        <div class="loader__text">
          <p>Daten werden geladen</p>
          <p id="loader-detail-text"></p>
        </div>
      </div>
    </div>
    <!-- END LOADER -->

    <div class="l-bg-color-w u-vh--100">

        <!-- TOP NAVIGATION START -->
        <!-- MAIN NAVIGATION START -->

        <nav>
          <div class="title-bar" id="nav-container" data-responsive-toggle="simple-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title"></div>
          </div>

          <div class="top-bar" id="simple-menu">
            <div class="top-bar-left show-for-large">
              <ul class="menu">
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" id="nav-list-vertical" data-dropdown-menu>
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}" style="font-weight: 300; padding-right: 1.5rem">Datenschutz</a></li>
                <li>
                  <a class="anchor-text--light" href="#">Menu</a>
                  <ul class="menu vertical">
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
                    <li><a class="anchor-text--light" href="#">Kontakt</a></li>
                    <li><a class="anchor-text--light" href="#">Impressum</a></li>
                    <li><a class="anchor-text--light" href="#">Datenschutz</a></li>
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:sources' %}">Quellen</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- MAIN NAVIGATION END -->    <!-- TOP NAVIGATION END -->

        <div class="off-canvas-wrapper off-canvas-wrapper--left">

          <!-- OFF CANVAS START -->
          <aside class="off-canvas position-left" id="offCanvas" data-off-canvas data-close-on-click="false" data-content-overlay="false" data-transition="overlap">

            <div class="grid-y medium-grid-frame">
              <div class="cell medium-auto medium-cell-block-container">
                <div class="grid-x">
                  <nav class="cell offcanvas-tabs__wrapper medium-cell-block-y">
                    <ul class="vertical tabs" data-tabs id="offcanvas-tabs">
                      <li class="tabs-title is-active" id="tabsScenarios">
                        <a href="#panel-scenarios" aria-selected="true">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Scenario_w.svg' %}" id="tabs-icon--scenarios">
                          <h2 class="tabs-title__head">Szenario</h2>
                        </a>
                      </li>
                      <li class="tabs-title" id="tabsEnergy">
                        <a href="#panel-energy">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Energy_w.svg' %}" id="tabs-icon--energy">
                          <h2 class="tabs-title__head tabs-title__head--long">Energie-<br>system</h2>
                        </a>
                      </li>
                      <li class="tabs-title" id="tabsAreas">
                        <a href="#panel-areas">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Layers_w.svg' %}" id="tabs-icon--areas">
                          <h2 class="tabs-title__head">Flächen</h2>
                        </a>
                      </li>
                      <li class="tabs-results tabs-title" id="tabsResults">
                        <a href="#panel-results">
                          <img src="{% static 'stemp_abw/img/icons_custom/Enavi_Results_w.svg' %}" id="tabs-icon--results">
                          <h2 class="tabs-title__head">Ergebnisse</h2>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <section class="cell medium-cell-block-y tabs-content__wrapper" id="offCanvasContent">
                    <div class="tabs-content" data-tabs-content="offcanvas-tabs" id="offcanvasTabs">

                        <!-- First panel content -->
                        <div class="tabs-panel is-active" id="panel-scenarios">
                          <p class="lead">
                            {{ panels.scenarios.title }}
                            <i class ="icon ion-help-circled" title="{{ panels.scenarios.text }}"></i>
                          </p>
                        <div class="grid-x">
                          <div class="cell" id="scenarios-wrap">
                            <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
                              <li class="tabs-title is-active"><a href="#scenario-panel1" aria-selected="true">Szenarien</a></li>
                              <li class="tabs-title"><a href="#scenario-panel2">User-Szenarien</a></li>
                            </ul>

                            <div class="tabs-content" data-tabs-content="deeplinked-tabs">
                              <div class="tabs-panel is-active" id="scenario-panel1">
                                <div class="grid-x grid-margin-x">
                          <div class="cell">
                          <form>
                            <fieldset>
                                        <legend>Vorgegebene Szenarien auswählen
                                          <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                                        </legend>
                                <label class="control control--radio">Status Quo
                                  <input type="radio" name="scenario" value="statusQuo" id="scenarioStatusQuo" required checked="checked"/>
                                  <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio">Deutsches Klimaschutzziel
                                  <input type="radio" name="scenario" value="germany" id="scenarioGermany"/>
                                  <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio">100% erneuerbar
                                  <input type="radio" name="scenario" value="100" id="scenario100"/>
                                  <div class="control__indicator"></div>
                                </label>
                            </fieldset>
                          </form>
                          </div>
                        </div>
                              </div>
                              <div class="tabs-panel" id="scenario-panel2">
                                <div class="grid-x grid-margin-x">
                                  <div class="cell">
                                    <form>
                                      <fieldset>
                                        <legend>Nutzer-Szenarien ansehen oder erstellen
                                          <i class ="icon ion-information-circled icon--small" title="Nutzer-Szenarien ansehen oder erstellen"></i>
                                        </legend>
                                        <label class="control control--radio">Neues Szenario
                                          <input type="radio" name="scenario" value="new" id="scenarioNew" required checked="checked"/>
                                          <div class="control__indicator"></div>
                                        </label>
                                        <label class="control control--radio">Reiners Superlösung
                                          <input type="radio" name="scenario" value="reiner" id="scenarioReiner"/>
                                          <div class="control__indicator"></div>
                                        </label>
                                      </fieldset>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-desc panel-desc--highlighted">
                            <p id="scenarioPanelText">
                            <span class="panel-desc__header">Status Quo</span>
                            <span class="panel-desc__text">Dieses Szenario enthält den aktuellen Zustand der Energieversorgung und Flächennutzung in der Region.</span>
                            </p>
                          </div>
                        </div>

                        <!-- Second panel content -->
                        <div class="tabs-panel" id="panel-energy">
                          <p class="lead">
                            {{ panels.esys.title }}
                            <i class ="icon ion-help-circled" title="{{ panels.esys.text }}"></i>
                          </p>
                          <ul class="accordion" data-accordion>

                            <li class="accordion-item accordion-item--no-border is-active" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Stromerzeugung</a>
                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Leistung Windkraftanlagen [MW]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="capacityWindPower" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Leistung Photovoltaik (Dachanlagen) [MW]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="capacityPVroofPower" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Leistung Photovoltaik (Freiflächenanlagen) [MW]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="capacityPVgroundPower" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Leistung Biomasse/-gas [MW]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="capacityBioPower" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Leistung konventionelle Kraftwerke [MW]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="capacityConvPower" value="" />
                              </div>
                            </li>

                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Stromverbrauch</a>
                              <!--<div class="accordion-content" data-tab-content>-->
                              <!--</div>-->

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Einsparung Haushalte (Status Quo = 0) [%]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="demandRedHH" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Einsparung GHD (Status Quo = 0) [%]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="demandRedGHD" value="" />
                              </div>
                            </li>

                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Wärmeerzeugung</a>
                              <div class="accordion-content" data-tab-content>
                              </div>
                            </li>

                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Wärmeverbrauch</a>
                              <div class="accordion-content" data-tab-content>
                              </div>
                            </li>

                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Flexibilität</a>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Batteriekapazität [GWh]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="flexBat" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Demand-Side-Management (Anteil Haushalte) [%]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="flexDSMHH" value="" />
                              </div>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Elektromobilität (Anteil privater Fahrzeuge) [%]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="flexEmob" value="" />
                              </div>
                            </li>

                            <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title accordion-title--100">Potenzialflächen und Restriktionen</a>

                              <div class="accordion-content parameter" data-tab-content >
                              <p class="parameter__label">
                                Abstand zu Siedlungen [m]
                                <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                              </p>
                              <input id="potDistSettle" value="" />
                              </div>

                              <div class="accordion-content" data-tab-content>
                                <div class="grid-x">
                                  <div class="cell small-1"></div>
                                  <div class="cell small-8">
                                    Wald verwenden
                                  </div>
                                  <div class="cell small-1">
                                    <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                                  </div>
                                  <div class="cell small-1">
                                    <div class="switch tiny">
                                      <input class="switch-input" id="potUseForest" type="checkbox" checked>
                                      <label class="switch-paddle" for="potUseForest">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="cell small-1"></div>
                                </div>

                                <div class="grid-x">
                                  <div class="cell small-1"></div>
                                  <div class="cell small-8">
                                    FFH-Gebiete verwenden
                                  </div>
                                  <div class="cell small-1">
                                    <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                                  </div>
                                  <div class="cell small-1">
                                    <div class="switch tiny">
                                      <input class="switch-input" id="potUseFFH" type="checkbox" checked>
                                      <label class="switch-paddle" for="potUseFFH">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="cell small-1"></div>
                                </div>

                                <div class="grid-x">
                                  <div class="cell small-1"></div>
                                  <div class="cell small-8">
                                    UNESCO-Welterbegebiet verwenden
                                  </div>
                                  <div class="cell small-1">
                                    <i class ="icon ion-information-circled icon--small" title="Informationen zum Inhalt"></i>
                                  </div>
                                  <div class="cell small-1">
                                    <div class="switch tiny">
                                      <input class="switch-input" id="potUseUNESCO" type="checkbox" checked>
                                      <label class="switch-paddle" for="potUseUNESCO">
                                      </label>
                                    </div>
                                  </div>
                                  <div class="cell small-1"></div>
                                </div>
                              </div>

                            </li>
                          </ul>

                          <!--<div class="grid-x">-->

                            <!--<div class="cell u-text&#45;&#45;center">-->
                              <!--<form method="post" id="frmSimulate">-->
                                <!--{% csrf_token %}-->
                                <!--<button class="btn btn-cta" type="button" id="btnSimulate" onclick="btnAction(this.id)" value="simulate" disabled>-->
                                  <!--Simulieren-->
                                  <!--<i class ="icon ion-android-arrow-dropright-circle icon&#45;&#45;small"></i>-->
                                <!--</button>-->
                              <!--</form>-->
                            <!--</div>-->

                            <!--<div class="cell small-1"></div>-->
                            <!--<div class="cell small-2">Fortschritt</div>-->
                              <!--<div class="cell small-8 progress" id="progressBar" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">-->
                                <!--<div class="progress-meter" id="progressMeter" style="width: 0%"></div>-->
                              <!--</div>-->
                            <!--<div class="cell small-1"></div>-->

                          <!--</div>-->
                        </div>

                        <!-- Third panel content -->
                        <div class="tabs-panel" id="panel-areas">
                          <!--<span class="lead">Flächen</span><i class ="icon ion-help-circled"></i>-->
                          <p class="lead">
                            {{ panels.areas.title }}
                            <i class ="icon ion-help-circled" title="{{ panels.areas.text }}"></i>
                          </p>

                          <form>
                            <div class="grid-x">
                              <div class="cell small-11">
                                <p>Alle Ebenen anzeigen</p>
                              </div>
                              <div class="cell small-1">
                                <div class="switch tiny master">
                                  <input class="switch-input-layer-select" id="cb_all_layers" type="checkbox" name="all_layers">
                                  <label class="switch-paddle" for="cb_all_layers">
                                  </label>
                                </div>
                              </div>
                            </div>
                          </form>

                          <form>
                            {% include "forms/layer_select.html" %}
                          </form>

                        </div>

                        <!-- Fourth panel content -->
                        <div class="tabs-panel" id="panel-results">
                          <p class="lead">
                            {{ panels.results.title }}
                            <i class ="icon ion-help-circled" title="{{ panels.results.text }}"></i>
                          </p>
                          <div class="grid-x">
                            <!-- Button expand -->
                            <!--
                            <div class="cell u-text--center">
                            <button href="map.html" class="btn btn--hollow" id="btnExpand">
                                Mehr Ergebnisse
                                <i class ="icon ion-android-add icon--small"></i>
                              </button>
                            </div>
                            -->

                          <div class="cell" id="results-wrap">
                            <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
                              <li class="tabs-title is-active"><a href="#results-panel1" aria-selected="true">Erneuerbare Energien</a></li>
                              <li class="tabs-title"><a href="#results-panel2">Konventionelle Kraftwerke</a></li>
                              <li class="tabs-title"><a href="#results-panel3">Wärmebedarf</a></li>
                              <li class="tabs-title"><a href="#results-panel4">Strombedarf</a></li>
                              <li class="tabs-title"><a href="#results-panel5">eMobilität</a></li>
                              <li class="tabs-title"><a href="#results-panel6">Flexibilitäten</a></li>
                              <!--<li class="tabs-title"><a href="#results-panel7">eMobilität</a></li>-->
                              <!--<li class="tabs-title"><a href="#results-panel8">Demand-Side-Management</a></li>-->
                              <!--<li class="tabs-title"><a href="#results-panel9">Batterie</a></li>-->
                            </ul>

                            <div class="tabs-content" data-tabs-content="deeplinked-tabs">
                              <div class="tabs-panel is-active" id="results-panel1">
                                <div class="grid-x grid-margin-x">
                                  <div class="cell small-4">
                                    <p class="lead">Windenergie</p>
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td>Installierte Gesamtleistung</td>
                                          <td width="25%">650 MW</td>
                                        </tr>
                                        <tr>
                                          <td>Anzahl Windenergieanlagen</td>
                                          <td width="25%">412</td>
                                        </tr>
                                        <tr>
                                          <td>Jährlich erzeugte Energiemenge</td>
                                          <td width="25%">1040 GWh</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <div class="cell small-4">
                                    <p class="lead">Photovoltaik</p>
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td>Installierte Gesamtleistung</td>
                                          <td width="25%">470 MW</td>
                                        </tr>
                                        <tr>
                                          <td>Anzahl Photovoltaikanlagen</td>
                                          <td width="25%">6018</td>
                                        </tr>
                                        <tr>
                                          <td>Jährlich erzeugte Energiemenge</td>
                                          <td width="25%">470 GWh</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <div class="cell small-4">
                                    <p class="lead">Biomasse und Biogas</p>
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td>Installierte Gesamtleistung</td>
                                          <td width="25%">70 MW</td>
                                        </tr>
                                        <tr>
                                          <td>Anzahl Biomasse- und Biogasanlagen</td>
                                          <td width="25%">50</td>
                                        </tr>
                                        <tr>
                                          <td>Jährlich erzeugte Energiemenge</td>
                                          <td width="25%">210 GWh</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  {% include "stemp_abw/results.html" %}
                                </div>
                              </div>
                              <div class="tabs-panel" id="results-panel2">
                                <div class="grid-x grid-margin-x">
                                  {% include "stemp_abw/results2.html" %}
                                </div>
                              </div>
                              <div class="tabs-panel" id="results-panel3">
                                <div class="grid-x grid-margin-x">
                                  <div class="cell small-4                                  ">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                </div>
                              </div>
                              <div class="tabs-panel" id="results-panel4">
                                <div class="grid-x grid-margin-x">
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                </div>
                              </div>
                              <div class="tabs-panel" id="results-panel5">
                                <div class="grid-x grid-margin-x">
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                </div>
                              </div>
                              <div class="tabs-panel" id="results-panel6">
                                <div class="grid-x grid-margin-x">
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                  <div class="cell small-4">Insert results here</div>
                                </div>
                              </div>
                              <!--<div class="tabs-panel" id="results-panel7">-->
                                <!--<div class="grid-x grid-margin-x">-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<div class="tabs-panel" id="results-panel8">-->
                                <!--<div class="grid-x grid-margin-x">-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<div class="tabs-panel" id="results-panel9">-->
                                <!--<div class="grid-x grid-margin-x">-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                  <!--<div class="cell small-4">Insert results here</div>-->
                                <!--</div>-->
                              <!--</div>-->
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>

                  </section>
                </div>
              </div>
            </div>

            <button class="close-button" aria-label="Close menu" type="button" data-close id="btnCloseOffcanvas">
              <span aria-hidden="true">&times;</span>
            </button>

          </aside>
          <!-- OFF CANVAS END -->

          <!-- CONTENT (MAP + FOOTER) START -->
          <main class="off-canvas-content" data-off-canvas-content>
            <div class="map-wrapper">

              <button type="button" class="button open-offcanvas" data-toggle="offCanvas" title="Parameter" id="openOffCanvas">
                <i class="icon ion-android-options"></i>
              </button>

              <!-- MAP -->
              <!--<div id="mapid"> data-open="resultsModal">-->
                <!--{% leaflet_map "mapid" callback="window.main_map_init" creatediv=False %}-->
              <!--</div>-->
              {% leaflet_map "mapid" callback="window.main_map_init" %}

            </div>
          </main>
          <!-- CONTENT (MAP + FOOTER) END -->

        </div>

        <footer class="map-footer">
          <div class="grid-x">
    
            <div class="cell u-text--center" id="footer--hide">
              <div>
                <i class="icon ion-chevron-down" id="footer--hide__icon"></i>
              </div>
            </div>
    
            <div class="cell" id="footer-logos">
              <ul class="map-footer__logo">
                <li>
                  <a href="https://www.energieavantgarde.de/" target="_blank" title="Energieavantgarde Anhalt">
                    <img class="map-footer__logo-eaa" src="{% static 'stemp_abw/img/EAA_logo.png' %}" alt="Logo Energieavantgarde Anhalt">
                  </a>
                </li>
                <li>
                  <a href="https://reiner-lemoine-institut.de/" target="_blank" title="Reiner Lemoine Institut">
                    <img class="map-footer__logo-rli" src="{% static 'stemp_abw/img/rli_logo.png' %}" alt="Logo Reiner Lemoine Institut">
                  </a>
                </li>
                <li>
                  <a href="https://www.kopernikus-projekte.de/" target="_blank" title="Kopernikus Projekte">
                    <img class="map-footer__logo-kopernikus" src="{% static 'stemp_abw/img/kopernikus_logo.png' %}" alt="Logo Kopernikus">
                  </a>
                </li>
                <li>
                  <a href="https://www.bmbf.de/" target="_blank" title="Bundesministerium für Bildung und Forschung">
                    <img class="map-footer__logo-bmbf" src="{% static 'stemp_abw/img/BMBF_widget_final.png' %}" alt="Logo BMBF">
                  </a>
                </li>
              </ul>
            </div>

            <!-- START SIMULATION BTNS -->
            <!--<div class="cell" id="simulation-save-btn" style="display: none;">-->
            <div class="cell" id="simulation-save-btn">
              <div class="grid-x">
                <div class="cell medium-8 medium-offset-4 large-4 large-offset-8">
                  <button type="submit" class="btn btn-cta" id="simulation-btn" onclick="btnAction(this.id)" value="simulate">
                    Simulation
                    <i class ="icon ion-android-arrow-dropright-circle icon--small"></i>
                  </button>
                  <button type="submit" class="btn btn-apply btn-apply--secondary" id="save-btn" data-open="saveSimulation">
                    Speichern
                    <i class ="icon ion-archive icon--small"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="tiny reveal" id="saveSimulation" data-reveal>
              <p>Geben Sie dem Szenario einen Namen</p>
              <label>
                <input type="text" placeholder="Szenarioname">
              </label>
              <button type="submit" class="btn btn-apply btn-apply--secondary">
                Speichern
              </button>
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- END SIMULATION BTNS -->

          </div>
        </footer>

      </div>

        <!-- START POP-UP RESULTS -->
    <div class="large reveal" id="resultsModal" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- END POP-UP RESULTS -->

    <script src="{% static 'stemp_abw/foundation/js/app.js' %}"></script>
    <script type="text/javascript">

        function main_map_init (map, options) {
            // show load spinner
            $('.loader-wrapper').toggleClass("loader-wrapper--hide");
            $('body').toggleClass("body--nopointer");

            // Parse layer style JSON
            var style_data = JSON.parse('{{ layer_style | escapejs }}');

            // popup style
            var customPopup =
                {
                'maxWidth': '500',
                'className' : 'custom_popup'
                }

            // feature: click style
            function execClickAction(e) {
                var style = getLayerStyle("_click");
                var layer = e.target;
                layer.setStyle(style);

                // center map to clicked entity
                layer._map.panTo(e.latlng, {duration: 1});

                // load popup content from detail view
                var url = "../popup/" + layer.feature.properties.name + "/" + String(layer.feature.id)
                $.get( url, function( data ) {
                  layer.setPopupContent(data);
                });
            }

            // feature: mousover style
            function setHighlightFeatureStyle(e) {
                var style = getLayerStyle("_highlight");
                var layer = e.target;
                layer.setStyle(style);
            }

            // feature: normal style
            function setNormalFeatureStyle(layerName) {
              return function _(e) {
                var style = getLayerStyle(layerName);
                var layer = e.target;
                layer.setStyle(style);
            };
            }

            // bind popups for each feature and define event actions
            function onEachFeature(layerName) {
            return function(feature, layer) {
                if (feature.properties && feature.properties.popup_content) {
                    layer.bindPopup('', customPopup);
                    };
                    layer.on({
                        click: execClickAction,
                        mouseover: setHighlightFeatureStyle,
                        mouseout: setNormalFeatureStyle(layerName)
                    });
            };
            }

            function pointToLayer(feature, latlng) {
                var marker = L.circleMarker(latlng)
                return marker;
            }

            // Create layer style from style_data json obj
            // if it does not exist, use default
            function getLayerStyle (name) {
                if (style_data.hasOwnProperty(name)) {
                    return style_data[name];
                } else {
                    return style_data._default;
                }

            }

            var layers = {};

            layer_count = {{ layer_list|length }};
            var layer_ctr = 0;

            var loader_text = $('#loader-detail-text');

            // Load GeoJsons via Ajax and add layers to map
            {% for layer, show in layer_list.items %}
                // Build data URL
                var dataurl = "{% url 'stemp_abw:'|add:layer|add:'.data' %}"

                // Load data via Ajax
                $.ajax({
                    url: dataurl,
                    dataType: 'json',
                    async: true,
                    success: function(json){
                        // Add GeoJSON layer
                        var layer = new L.geoJson(json, {style: getLayerStyle("{{ layer }}"),
                                                         onEachFeature: onEachFeature("{{ layer }}"),
                                                         pointToLayer: pointToLayer
                                                         }
                                                 );
                        layers["{{ layer }}"] = layer;
                        layer_ctr++;

                        {% if show == '1' %}
                            map.addLayer(layer);
                        {% endif %}

                        // Show progress
                        loader_text.text('Layer ' +
                                         String(layer_ctr) + '/' + String(layer_count) +
                                         ': ' + '{{ layer }}');

                        // hide load spinner
                        if (layer_ctr == layer_count) {
                            loader_text[0].style = 'color: #f4a662; font-weight: bold';
                            //loader_text[0].style.font-weight = 'bold';
                            loader_text.text('Fertig!');
                            setTimeout(function(){
                                $('.loader-wrapper').toggleClass("loader-wrapper--hide");
                                $('body').toggleClass("body--nopointer");
                            }, 1000);
                        };
                    }
                });

            {% endfor %}

            // Move zoom control
            map.removeControl(map.zoomControl);
            L.control.zoom({
		        position: 'bottomright'
	        }).addTo(map);

            // Control layer
            $(document).foundation();

            // Control layer visibility via checkboxes
            $( '.switch-input-layer-select' ).click( function () {
              var id = $(this).attr('id');

              // Master switch for all layers
              if (id == "cb_all_layers") {
                for (var l in layers) {
                  if (layers.hasOwnProperty(l)) {
                    if (this.checked) map.addLayer(layers[l]);
                    else map.removeLayer(layers[l]);
                  }
                $( '.switch-input-layer-select' ).prop('checked', this.checked);
                }
              }

              // Individual layers switches
              else {
                l = layers[id.replace('cb_','')];
                if (this.checked) map.addLayer(l);
                else map.removeLayer(l);
              };
            })

        };

        // Post to view if button is clicked without reloading page
        function btnAction(element_id) {
            element = $('#' + element_id)
            element.prop("disabled", true);
            //$('#simulation-save-btn').show();
            // TODO: make generic

            $.ajax({
                url : '{% url 'stemp_abw:map' %}',
                type : "POST",
                data : {value : element.val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(page) {
                    console.log('success');
                },
                error: function(page) {
                    console.log('error');
                }
            }).done(function(returned_data){
                console.log(returned_data);
                //updateSimProgressBar(25);
            });
        };

        // Update simulation progress bar
        function updateSimProgressBar(value) {
            $('#progressBar').prop('aria-valuenow', value);
            $('#progressMeter').prop('style', 'width: ' + String(value) + '%');
        };

    </script>
  </body>
</html>