{% extends "stemp_abw/navigation_base.html" %}

{% block map-index-confirm_1 %}<li><a data-open="map-index-confirm" class="anchor-text--light" href="#">Startseite</a></li>{% endblock %}
{% block map-index-confirm_2 %}<li><a data-open="map-index-confirm" class="anchor-text--light" href="#">Startseite</a></li>{% endblock %}
{% block map-privacy-policy-confirm %}<li><a id="navbar-privacy-policy" data-open="map-private-policy-confirm" class="anchor-text--light" href="#">Datenschutz</a></li>{% endblock %}
{% block map-sources-confirm %}<li><a data-open="map-sources-confirm" class="anchor-text--light" href="#"> Quellen</a></li>{% endblock %}