{% extends "stemp_abw/navigation_base.html" %}
{% load i18n %}

{% block app-version %}
<div class="top-bar-left show-for-large" id="app-version">
  Version {{ app_version }}
</div>
{% endblock %}
{% block map-language-switch-confirm %}
<div class="menu">
  <form id="set-lang-form" action="{% url 'stemp_abw:set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}"/>
    <select class="dropdown menu-form-dropdown" name="language">
      {% for language in languages %}
        {% get_language_info for language as lang %}
        <option value="{{ language }}" {% if current_language == language %} selected{% endif %}>
          {{ lang.name_local }}
        </option>
      {% endfor %}
    </select>
  </form>
</div>
<div>
  <input data-open="map-language-switch-confirm"  type="submit" class="menu menu-form-button" value="OK">
</div>
{% endblock %}
{% block map-index-confirm_1 %}<li><a data-open="map-index-confirm" class="anchor-text--light" href="#">{% trans 'Startseite' %}</a></li>{% endblock %}
{% block map-index-confirm_2 %}<li><a data-open="map-index-confirm" class="anchor-text--light" href="#">{% trans 'Startseite' %}</a></li>{% endblock %}
{% block map-privacy-policy-confirm %}<li><a id="navbar-privacy-policy" data-open="map-private-policy-confirm" class="anchor-text--light" href="#"> {% trans 'Datenschutz' %}</a></li>{% endblock %}
{% block map-sources-confirm %}<li><a data-open="map-sources-confirm" class="anchor-text--light" href="#"><i class ="icon ion-document-text icon--small"></i> {% trans 'Quellen' %}</a></li>{% endblock %}
{% block map-contact-confirm %}<li><a data-open="map-contact-confirm" class="anchor-text--light" href="#"><i class ="icon ion-chatbubbles icon--small"></i> {% trans 'Kontakt' %}</a></li>{% endblock %}
{% block map-imprint-confirm %}<li><a data-open="map-imprint-confirm" class="anchor-text--light" href="#"><i class ="icon ion-filing icon--small"></i> {% trans 'Impressum' %}</a></li>{% endblock %}
