{% load static %}

<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stemp Tool Anhalt - Quellen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stemp_abw/img/ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'stemp_abw/foundation/css/app.css' %}">
  </head>
  <body>

    <div class="l-bg-color-w u-vh--100">
    
        <!-- TOP NAVIGATION START -->
        <!-- MAIN NAVIGATION START -->
            
        <nav>
          <div class="title-bar" id="nav-container" data-responsive-toggle="simple-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title"></div>
          </div>
          
          <div class="top-bar" id="simple-menu">
            <div class="top-bar-left show-for-large">
              <ul class="menu">
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" id="nav-list-vertical" data-dropdown-menu>
                <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}" style="font-weight: 300; padding-right: 1.5rem">Datenschutz</a></li>
                <li>
                  <a class="anchor-text--light" href="#">Menu</a>
                  <ul class="menu vertical">
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:index' %}">Startseite</a></li>
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:map' %}">Zum Tool</a></li>
                    <li><a class="anchor-text--light" href="#">Kontakt</a></li>
                    <li><a class="anchor-text--light" href="#">Impressum</a></li>
                    <li><a class="anchor-text--light" href="#">Datenschutz</a></li>
                    <li><a class="anchor-text--light" href="{% url 'stemp_abw:sources' %}">Quellen</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
            
        <!-- MAIN NAVIGATION END -->    <!-- TOP NAVIGATION END -->
        
        <div class="grid-container u-padding-top--xl">
          <div class="grid-x">
            <div class="cell">
              <h1 class="u-text--center">Quellen</h1>
            </div>
            <div class="cell">
              <table class="table unstriped">
                <thead class="table__head table__head--color">
                  <tr>
                    <th class="table__h table__h--small">Datensatz</th>
                    <th class="table__h">Beschreibung</th>
                    <th class="table__h table__h--medium">Quellen</th>
                  </tr>
                </thead>
                <tbody class="table__body table__body--text-top">
                  <tr>
                    <td>Siedlungen</td>
                    <td>Siedlungsgebiete in der Region Anhalt-Bitterfeld-Wittenberg</td>
                    <td>
                      <ul class="table__list">
                        <li>
                          <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap (OSM) Daten, 2016, Lizenz: Open Database License 1.0 (ODbL-1.0)</a>
                        </li>
                        <li>
                          <a href="http://www.geodatenzentrum.de" target="_blank">Bundesamt für Kartographie und Geodäsie (BKG): Digitales Landschaftsmodell (DLM250), 2016, Geodatenzugangsgesetz (GeoZG)</a>
                        </li>
                        <li>
                          <a href="http://openenergy-platform.org/dataedit/view/demand/ego_dp_loadarea" target="_blank">Reiner Lemoine Institut gGmbH: eGo dataprocessing - Loadarea, 2016, Open Database License 1.0 (ODbL-1.0)</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
      </div>

    <script src="assets/js/app.js"></script>
  </body>
</html>