{% extends "stemp_abw/base.html" %}

{% block content %}
    <div class="l-bg-color-w u-vh--100">
        
        <div class="grid-container u-padding-top--xl">
          <div class="grid-x">
            <div class="cell">
              <h1 class="u-text--center">Quellen</h1>
            </div>
            <div class="cell">
              <table class="table unstriped">
                <thead class="table__head table__head--color">
                  <tr>
                    <th class="table__h table__h--small">Datensatz</th>
                    <th class="table__h table__h--medium">Beschreibung</th>
                    <th class="table__h">Quellen</th>
                  </tr>
                </thead>
                <tbody class="table__body table__body--text-top">
                  <tr id="source-1">
                    <td>Siedlungen</td>
                    <td>Siedlungsgebiete in der Region Anhalt-Bitterfeld-Wittenberg</td>
                    <td>
                      <ul class="table__list">
                        <li>
                          <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a>: Daten, 2016, Open Database License 1.0 (ODbL-1.0)
                        </li>
                        <li>
                          <a href="http://www.geodatenzentrum.de" target="_blank">Bundesamt für Kartographie und Geodäsie (BKG)</a>: Digitales Landschaftsmodell (DLM250), 2016, Geodatenzugangsgesetz (GeoZG)
                        </li>
                        <li>
                          <a href="http://openenergy-platform.org/dataedit/view/demand/ego_dp_loadarea" target="_blank">Reiner Lemoine Institut gGmbH</a>: eGo dataprocessing - Loadarea, 2016, Open Database License 1.0 (ODbL-1.0)
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr id="source-2">
                    <td>Content Goes Here</td>
                    <td>This is longer content Donec id elit non mi porta gravida at eget metus.This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                    <td>Content Goes Here</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="cell u-text--center">
            <h1 class="u-text--center">Quellcode</h1>
            <a href="https://github.com/rl-institut/WAM_APP_stemp_abw" target="_blank">StEmp-Tool auf github</ahref>
            <i class="icon ion-social-github"></i>
          </div>
        </div>
      
    </div>
{% endblock %}