# This file defines the groups and layers shown in the region layer panel of
# the tool. The order given here will be preserved.
# Caution: make sure u have set title and text for every entity in labels.cfg!
#
# Format:
# [<GROUP_ID>]
#     [[<LAYER_ID>]]
#         geom_type = <TYPE OF GEOMETRY (line, point, poly)>
#         show = <SHOW LAYER ON STARTUP (0/1)>
#         [[[style]]]
#             <CSS STYLE OPTIONS>
#         [[[accuracy]]]
#             <ACCURACY OF LAYER DISPLAY -> GEOJSON PARAMS>

[layer_grp_general]
    [[rpabw]]
        model = rpabw
        geom_type = line
        show = 1
        [[[style]]]
            fillColor = '#444'
            weight = 2
            opacity = 1
            color = gray
            fillOpacity = 0.5
        [[[accuracy]]]
            precision = 5
            simplify = 0
    [[reg_mun]]
        model = reg_mun
        geom_type = line
        show = 1
        [[[style]]]
            fillColor = '#888'
            weight = 1
            opacity = 1
            color = gray
            fillOpacity = 0
        [[[accuracy]]]
            precision = 5
            simplify = 0
    [[reg_mun_pop_density]]
        model = reg_mun_stats
        geom_type = poly
        show = 0
        [[[style]]]
            fillColor = '#888'
            weight = 1
            opacity = 1
            color = gray
            fillOpacity = 0.7
        [[[accuracy]]]
            precision = 5
            simplify = 0
        [[[choropleth]]]
            unit = 'Einwohner pro km²'
            data_column = density
            color_schema = YlOrRd
            min = 0
            max = 500
            step = 50
            reverse = false
    [[reg_mun_gen_cap_re]]
        model = reg_mun_stats
        geom_type = poly
        show = 0
        [[[style]]]
            fillColor = '#888'
            weight = 1
            opacity = 1
            color = gray
            fillOpacity = 0.7
        [[[accuracy]]]
            precision = 5
            simplify = 0
        [[[choropleth]]]
            unit = 'Installierte Leistung in MW'
            data_column = gen_capacity_re
            color_schema = BuGn
            min = 0
            max = 150
            step = 15
            reverse = false